# Classification Exercise

In [1]:
import pandas as pd

In [2]:
train_dataset = pd.read_csv('https://raw.githubusercontent.com/WHPAN0108/BHT-DataScience-S23/main/classification/data/Assigment/aug_train.csv')

train_dataset

,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_type,last_new_job,training_hours,target
0,0.624,Male,No relevent experience,no_enrollment,High School,NaN,5,NaN,never,21,0
1,0.926,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,>4,12,0
2,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,Public Sector,>4,26,0
3,0.624,Male,No relevent experience,Full time course,High School,NaN,1,NaN,never,30,1
4,0.920,Female,Has relevent experience,no_enrollment,Masters,STEM,>20,NaN,>4,46,0
...,...,...,...,...,...,...,...,...,...,...,...
2095,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,17,NaN,4,4,0
2096,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,8,Funded Startup,2,10,1
2097,0.855,Male,No relevent experience,no_enrollment,High School,NaN,<1,NaN,never,37,0
2098,0.920,Male,No relevent experience,no_enrollment,Graduate,STEM,>20,NaN,1,11,0
2099,0.754,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,Pvt Ltd,>4,82,0

In [3]:
test_dataset = pd.read_csv("https://raw.githubusercontent.com/WHPAN0108/BHT-DataScience-S23/main/classification/data/Assigment/aug_test.csv")

test_dataset

,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_type,last_new_job,training_hours,target
0,0.624,NaN,Has relevent experience,Full time course,Graduate,Other,3,Pvt Ltd,1,134,0
1,0.920,Female,No relevent experience,no_enrollment,Graduate,STEM,5,Early Stage Startup,1,34,1
2,0.767,NaN,Has relevent experience,Full time course,Graduate,STEM,10,Pvt Ltd,2,90,0
3,0.910,Male,No relevent experience,NaN,High School,NaN,10,NaN,never,42,0
4,0.624,Male,Has relevent experience,Part time course,Graduate,STEM,3,Pvt Ltd,1,198,0
...,...,...,...,...,...,...,...,...,...,...,...
95,0.698,Male,Has relevent experience,no_enrollment,Graduate,STEM,7,Pvt Ltd,never,139,0
96,0.926,Male,No relevent experience,no_enrollment,Masters,STEM,10,NaN,2,45,1
97,0.920,Male,Has relevent experience,no_enrollment,Masters,STEM,7,NaN,1,22,0
98,0.939,Male,No relevent experience,Full time course,High School,NaN,7,NaN,1,182,0
99,0.738,Male,Has relevent experience,no_enrollment,Graduate,STEM,10,Pvt Ltd,2,21,0

### Data clean, imputation

1. in experience, replace >20 to 21; <1 to 1, and convert this as a numerical column.

2. in last_new_job, replace >4 to 5; never to 0, and convert this as a numerical column

3. If the column is categorical, impute the missing value as its mode. If the column is numerical, impute the missing value as its median

### Classification

1. Build a classification model from the training set ( you can use any algorithms)

2. generate the confusion matrix and calculate the accuracy, precision, recall, and F1-score on training set.

3. Applying the model in the test set and generating the prediction

4. generate the confusion matrix from the test set and calculate the accuracy, precision, recall, and F1-score

5. compare the results between the training and test set

Extra point: think about what kind of the method can increase the performance (does not need to run )